<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--html和js解耦-->
<div id="app">
    姓氏:<input type="text" v-model="firstname">
    <br>
    名字:<input value="" v-model="lastname">
    <br>
    <p>{{firstname+lastname}}</p>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    // Jquery 提高DOM操作的效率
    // Vue极大的解放了DOM操作
    const app = new Vue({
        el: "#app",
        data: {
            firstname: '',
            lastname: ''
        }
    })
</script>
</body>
</html>
